{% extends 'base.html' %}
{%block titulo %}
    <title>Acerca de</title>
    {%endblock%}
{%block encabezado%}
    <div class="container-css" style="background-color: yellow;">
        <header>
            <h2>Creditos</h2> 
        </header>

        <nav>
            <ul class="nav  nav-pills nav-justified">
                <li class="nav-item">
                    <a href="{% url 'app1:home' %}" class="badge badge-dark">Home  </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'app1:estudiantes' %}" class="badge badge-dark">Estudiantes   </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'app1:administradores' %}" class="badge badge-dark">Administradores  </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'app1:creditos' %}" class="nav-item nav-link active">Acerca de </a>
                </li>
                
            </ul>
           </nav>
    </div>

    {%endblock%}
{%block tabla%}
{%endblock%}
    {%block formulario%}
    <div class="alert alert-primary" role="alert">
      
      </div>
    <div id="container">
   
   <div class="clearfix"> </div>

   <img src="https://i.pinimg.com/originals/34/22/90/3422900cb9e9bd4ce803847129eb6c9f.jpg" width="500px" height="450px"/>
   <div class="clearfix"> </div>
  
{%endblock%}