{% extends 'base.html' %}

{%block titulo %}
    <title>Administradores</title>
    {%endblock%}
   
{%block encabezado%}
    <div class="container-css" style="background-color: yellow;">
        <header>
            <h1>Administradores</h1>
        </header>
    <nav>
        <ul class="nav  nav-pills nav-justified">
            <li class="nav-item">
                <a href="{% url 'app1:home' %}" class="badge badge-dark">Home  </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'app1:estudiantes' %}" class="badge badge-dark">Estudiantes   </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'app1:administradores' %}" class="nav-item nav-link active">Administradores  </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'app1:creditos' %}" class="badge badge-dark">Acerca de </a>
            </li>
        </ul>
    </nav>
{%endblock%}


{%block nomT%}
<div class="alert alert-secondary" role="alert">
    <center>
        <h1>ADMINISTRADORES</h1>   
    </center>
</div>
{%endblock%}


{%block formAg %}
<center>
    <form action="#" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {% if error %}
          <h2>{{error}}</h2>
          {% else %}
        <div class="form-group">
            <div>{{form.nombre.label}} </div>
            <div>{{form.nombre}} </div>
            <small id="emailHelp" class="form-text text-muted">De preferencia use un Nombre</small>
        </div>
        <div class="form-group">
            <div>{{form.apellido.label}} </div>
            <div>{{form.apellido}} </div>
            <small id="emailHelp" class="form-text text-muted">De preferencia use un Apellido</small>
        </div>
        <div class="form-group">
            <div>{{form.carne.label}} </div>
            <div>{{form.carne}} </div>
        </div>
        <div class="form-group">
            <div>{{form.direccion.label}} </div>
            <div>{{form.direccion}} </div>
        </div>
        <button type="submit" name="enviar">Guardar </button>
        
    </form>
        
    {% endif %}
</center>
    {%endblock%}


    {%block tabla%}
    {%endblock%}


{%block VerListado%}
<center>
<a class="btn btn-primary" href="{% url 'app1:listadoadmins' %}" role="button">Listado Administradores</a>
</center>
{%endblock%}


{%block ListadoEnc%}
{%endblock%}

