{% extends 'base.html' %}
{%block titulo %}
    <title>Acerca de</title>
    {%endblock%}
{%block encabezado%}
    <div class="container-css" style="background-color: yellow;">
        <header>
            <h2>Creditos</h2> 
        </header>

        <nav>
            <ul class="nav  nav-pills nav-justified">
                <li class="nav-item">
                    <a href="{% url 'app1:home' %}" class="badge badge-dark">Home  </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'app1:estudiantes' %}" class="badge badge-dark">Estudiantes   </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'app1:administradores' %}" class="badge badge-dark">Administradores  </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'app1:creditos' %}" class="nav-item nav-link active">Acerca de </a>
                </li>
                
            </ul>
           </nav>
    </div>

    {%endblock%}

    {%block nomT%}
<div class="alert alert-secondary" role="alert">
    <center>
        <h1>CREDITOS</h1>   
    </center>
</div>
{%endblock%}

{%block formAg%}

{%endblock%}

{%block VerListado%}
{%endblock%}

{%block tabla%}
{%endblock%}

{%block ListadoEnc%}
<div class="alert alert-danger" role="alert"> 
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <CENTER>
                <h1 class="display-1">WILY ZACARIAS LOPEZ</h1>
                <h2 class="display-3">0903-18-8589 </h2>

                <p class="lead">INGENIERIA EN SISTEMAS - OCTAVO SEMESTRE - UMG</p>
                <p class="lead">DESARROLLO WEB</p>
            </CENTER>

        </div>
    </div>

{%endblock%}


{%block formulario%}
{%endblock%}
 